.header
	display: flex
	padding: 40px 0 0
	color: $title
	font-family: $Russo
	font-size: 14px
	font-weight: 400
	letter-spacing: 0.35px
	&__logo
		width: 20%
		opacity: 0
		animation: load 1.5s linear forwards
		animation-delay: 1s
	&__phone
		width: 40%
		position: relative
		&:before
			position: absolute
			content: ''
			top: -40px
			left: -1px
			width: 1px
			height: 204px
			background: #EEE9E9
		a
			color: $title
			text-decoration: none
			position: relative
			&:before
				position: absolute
				content: ''
				width: 0px
				height: 3px
				top: 50%
				right: -15px
				transform: translateY(-50%)
				background: $yellow
				transition: 0.4s
			&:hover
				&:before
					width: 10px
			&:after
				position: absolute
				content: ''
				top: 0
				right: 0
				width: 100%
				height: 100%
				background: #ffffff
				animation: load2 0.5s linear forwards
				animation-delay: 2s
	&__address
		position: relative
		&:after
			position: absolute
			content: ''
			top: 0
			right: 0
			width: 100%
			height: 100%
			background: #ffffff
			animation: load2 0.5s linear forwards
			animation-delay: 2s

@media (max-width: 999px)
	.header__phone
		&:before
			display: none

@media (max-width: 768px)
	.header
		justify-content: space-between
		padding: 20px 0 0
		overflow-x: hidden
		&__logo
			width: 76px
			height: 44px
			img
				width: 100%
		&__phone
			width: auto
			a
				&:before
					display: none
		&__address
			display: none
	

