@font-face {
	font-family: 'Russo One Regular';
	src: url('../fonts/RussoOne-Regular.eot');
	src: url('../fonts/RussoOne-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/RussoOne-Regular.woff') format('woff'),
	url('../fonts/RussoOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Regular';
	src: url('../fonts/Ubuntu-Regular.eot');
	src: url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu-Regular.woff') format('woff'),
	url('../fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Medium';
	src: url('../fonts/Ubuntu-Medium.eot');
	src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu-Medium.woff') format('woff'),
	url('../fonts/Ubuntu-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Bold';
	src: url('../fonts/Ubuntu-Bold.eot');
	src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu-Bold.woff') format('woff'),
	url('../fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$Russo: 'Russo One Regular';
$UR: 'Ubuntu Regular';
$UM: 'Ubuntu Medium';
$UB: 'Ubuntu Bold';